PRACTICA 4/DTD/cifp.dtd

<!ELEMENT cifp (alumne*, professor*)>

<!ELEMENT alumne (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_matricula, curs)>
<!ELEMENT professor (nom, llinatges, data_naixement?, correu?, telefon?, adreça?, data_incorporació, departament, assignatura*)>

<!-- Elements comuns -->
<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreça (#PCDATA)>

<!-- Alumne -->
<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>

<!-- Professor -->
<!ELEMENT data_incorporació (#PCDATA)>
<!ELEMENT departament (#PCDATA)>

<!-- Assignatura -->
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>

<!-- Atributs -->
<!ATTLIST alumne id CDATA #REQUIRED>
<!ATTLIST professor id CDATA #REQUIRED>
<!ATTLIST assignatura id_assignatura CDATA #REQUIRED>
<!ATTLIST nom_assignatura cicle CDATA #REQUIRED>